[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
requests = "*"
beautifulsoup4 = "*"
bs4 = "*"
black = "*"
python-decouple = "*"
psycopg2 = "*"
pylint = "*"
djlint = "*"

[dev-packages]

[requires]
python_version = "3.11"
